<div id="tabela">
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>names</th>
                <th>preco</th>
                <th>acoes</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < produtos.length; i++) { %>
                <tr>
                    <td>
                        <%= produtos[i].id %>
                    </td>
                    <td>
                        <%= produtos[i].name %>

                    </td>
                    <td>
                        <%= produtos[i].preco %>
                    </td>
                    <td>
                        <%- include("../deletarprodutos/deletarproduto.ejs", {id: produtos[i].id})  %>
                        
                        <a class="btn btn-primary" href="/editarprodutos/<%= produtos[i].id %>">
                            editar
                        </a>

                    </td>
                
                </tr>
                <% } %>
        </tbody>
    </table>
</div>

 

    <form action="/adicionarproduto" method="POST">
        <br> <br> <br> <br>
        ADICIONAR PRODUTO <br>

      

        <label for="">name</label>
        <input type="text" id="nameid" name="name" placeholder="name" required> <br>

        <label for="">preco</label>
        <input type="number" id="nameid2" name="preco" placeholder="preco" required> <br>

        <button type="submit">enviar</button>
        
    </form>
    <form action="/editarproduto" method="POST">
        <br> <br> <br> <br>
        editarproduto <br>
        <label>id</label>
        <input type="number" id="nameid" name="id" placeholder="id" required> <br>

        <label for="">name</label>
        <input type="text" id="nameid" name="name" placeholder="name" required> <br>

        <label for="">preco</label>
        <input type="number" id="nameid2" name="preco" placeholder="preco" required> <br>

        <button type="submit">enviar</button>
        
    </form>

</div>